.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 40px;

  @media (max-width: $md3) {
    min-height: 5px;
  }

  &._scroll {
    .header__wrapper {
      background-color: rgba(48, 41, 217, 0.8);

      @media (any-hover: hover) {
        &:hover {
          background-color: rgba(48, 41, 217, 0.95);
        }
      }
    }

    .header__body {
      min-height: 60px;

      @media (min-width: $md2) {
        min-height: 80px;
      }
    }
  }

  // .header__wrapper

  &__wrapper {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
    width: 100%;
    background-color: #fff;
    transition: background-color 0.3s ease 0s;
  }

  // .header__burger

  &__burger {
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 9.2%;
    height: 100%;
    background-color: #232f3e;

    &._active {
      .header__burger-lines {
        transform: rotate(90deg);
      }
    }

    &-lines {
      display: flex;
      flex-direction: column;
      transition: transform 0.3s ease 0s;

      span {
        height: 3px;
        background-color: #fff;

        &:not(:last-child) {
          margin: 0 0 5px;
        }

        &:first-child {
          width: 19px;
        }
        &:nth-child(2) {
          width: 27px;
        }
        &:last-child {
          width: 13px;
        }
      }
    }

    @media (max-width: $md1) {
      height: 80%;
    }

    @media (max-width: $md4) {
      width: 44px;
    }
  }

  // .header__container

  &__container {
    @media (max-width: $md4) {
      padding: 0 10px;
    }
  }

  // .header__body

  &__body {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 0;
    min-height: 108px;
    transition: min-height 0.3s ease 0s;

    @media (max-width: $md1) {
      justify-content: space-between;
    }

    @media (max-width: $md2) {
      min-height: 80px;
    }

    @media (max-width: $md3) {
      min-height: 60px;
    }

    @media (max-width: $md3) {
      min-height: 50px;
    }
  }

  // .header__main

  &__main {
    position: relative;
    z-index: 2;
    display: flex;
    flex: 0 1 207px;
    justify-content: center;

    @media (max-width: $md1) {
      flex: 0 1 217px;
      justify-content: flex-end;
      padding: 0 10px 0 0;
    }

    @media (max-width: $md4) {
      justify-content: center;
      padding: 0 5px 0 0;
    }

    @media (max-width: 370px) {
      justify-content: flex-end;
    }
  }

  // .header__logo

  &__logo {
    max-width: 107px;

    img {
      max-width: 100%;
    }

    @media (max-width: $md4) {
      max-width: 80px;
    }
  }

  // .header__search

  &__search {
    flex: 0 1 math.div(600px, 1176px) * 100%;

    @media (min-width: $md2) {
      position: relative;
      z-index: 2;
    }

    @media (max-width: $md1) {
      flex: 0 1 40%;
    }

    @media (max-width: $md2) {
      display: flex;
      flex: 1 1 auto;
      justify-content: flex-end;
      padding: 0 30px 0 0;
    }

    @media (max-width: $md3) {
      padding: 0;
    }
  }

  // .header__actions

  &__actions {
  }

  // .header__menu

  &__menu {
  }
}

.search-header {
  &._active {
    .search-header__wrapper {
      top: 100%;
      opacity: 1;
      visibility: visible;
    }

    .search-header__icon {
      color: #232f3e;
    }
  }
  // .search-header__wrapper

  &__wrapper {
    display: flex;
    align-items: center;
    padding: 0 14px;
    min-height: 50px;
    background-color: rgba(242, 242, 242, 0.48);

    @media (max-width: $md2) {
      position: absolute;
      left: 0;
      top: -100%;
      z-index: 5;
      width: 100%;
      box-shadow: 0 0 5px rgba($color: #d4d1cd, $alpha: 0.5);
      background-color: rgba(242, 242, 242, 1);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
    }
  }

  // .search-header__select

  &__select {
  }

  // .search-header__line

  &__line {
    border: 1px solid rgba(35, 47, 62, 0.16);
    width: 28px;
    transform: rotate(90deg);
  }

  // .search-header__form

  &__form {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-between;
  }

  // .search-header__input

  &__input {
    flex: 1 1 auto;
    padding: 0 15px 0 0;
    font-size: 14px;
    line-height: math.div(16px, 14px) * 100%;
    background-color: transparent;

    &::placeholder {
      color: rgba($color: #232f3e, $alpha: 0.16);
    }
  }

  // .search-header__btn

  &__btn {
  }

  // .search-header__icon

  &__icon {
    position: relative;
    z-index: 2;

    &::before {
      font-weight: 400;
      font-size: 20px;
      color: #232f3e;
    }

    @media (min-width: $md2) {
      display: none;
    }
  }
}

.select-header {
  display: flex;
  align-items: center;
  padding: 17px 0;

  // .select-header__type

  &__type {
    margin: 0 12px 0 0;
    font-size: 12px;
    line-height: math.div(14px, 12px) * 100%;
    color: #000;
  }

  // .select-header__arrow

  &__arrow {
  }

  // .select-header__list

  &__list {
    display: none;
  }

  // .select-header__item

  &__item {
  }

  // .select-header__item-type

  &__item-type {
  }
}

.actions-header {
  position: relative;
  z-index: 2;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: flex-end;

  @media (max-width: $md1) {
    flex: 0 1 306px;
  }

  @media (max-width: $md3) {
    flex: 0 0 267px;
  }

  @media (max-width: $md4) {
    flex: 0 0 153px;
  }

  // .actions-header__liked

  &__liked {
    margin: 0 33px 0 0;

    @media (max-width: $md3) {
      margin: 0 13px 0 0;
    }

    @media (max-width: $md3) {
      margin: 0 10px 0 0;
    }
  }

  // .actions-header__liked-btn

  &__liked-btn {
  }

  // .actions-header__liked-list

  &__liked-list {
    display: none;
  }

  // .actions-header__bag

  &__bag {
    margin: 0 20px 0 0;

    @media (max-width: $md3) {
      margin: 0 13px 0 0;
    }
    @media (max-width: $md4) {
      margin: 0 10px 0 0;
    }
  }

  // .actions-header__bag-btn

  &__bag-btn {
  }

  // .actions-header__list

  &__bag-list {
  }

  // .actions-header__line

  &__line {
    border-left: 1px solid rgba(35, 47, 62, 0.16);
    height: 32px;
  }

  // .actions-header__map

  &__map {
    display: flex;
    align-items: center;
    margin: 0 24px 0 20px;
    font-size: 12px;
    line-height: math.div(14px, 12px) * 100%;
    color: #000;

    &::before {
      font-size: 20px;
    }

    @media (max-width: $md3) {
      margin: 0 13px;
    }
    @media (max-width: $md4) {
      margin: 0 0 0 10px;
    }
  }

  // .actions-header__login

  &__login {
    display: flex;
    flex: 0 0 94px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 38px;
    font-size: 12px;
    line-height: math.div(14px, 12px) * 100%;
    text-align: center;
    color: #fff;
    background-color: #232f3e;
    @media (max-width: $md3) {
      min-height: 30px;
    }

    @media (max-width: $md4) {
      display: none;
    }
  }
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  overflow: auto;
  padding: 130px 30px 30px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translate(-100%, 0);
  transition: transform 0.3s ease 0s;

  &._active {
    transform: translate(0);
  }

  @media (max-width: $md2) {
    padding: 100px 30px 30px;
  }

  @media (max-width: $md3) {
    padding: 70px 20px 20px;
  }
  // .menu__body

  &__body {
    &:not(:last-child) {
      margin: 0 0 40px;
    }
  }

  // .menu__list

  &__list {
    display: flex;
    flex-direction: column;
  }

  // .menu__item

  &__item {
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 24px;
    line-height: math.div(30px, 24px) * 100%;
    color: #232f3e;

    &:not(:last-child) {
      margin: 0 0 20px;
    }
  }

  // .menu__link

  &__link {
    color: inherit;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  // .menu__login

  &__login {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 30%;
    min-height: 38px;
    font-size: 12px;
    line-height: math.div(14px, 12px) * 100%;
    text-align: center;
    color: #fff;
    background-color: #232f3e;

    @media (min-width: $md4) {
      display: none;
    }
  }
}
