.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 40px;

  @media (max-width: $md3) {
    min-height: 5px;
  }

  &._scroll {
    .header__wrapper {
      background-color: rgba(48, 41, 217, 0.8);

      @media (any-hover: hover) {
        &:hover {
          background-color: rgba(48, 41, 217, 0.95);
        }
      }
    }

    .header__body {
      min-height: 60px;

      @media (min-width: $md2) {
        min-height: 80px;
      }
    }
  }

  // .header__wrapper

  &__wrapper {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
    width: 100%;
    transition: background-color 0.3s ease 0s;
  }

  // .header__burger

  &__burger {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 132px;
    height: 108px;
    background-color: #232f3e;

    &-lines {
      display: flex;
      flex-direction: column;

      span {
        height: 3px;
        background-color: #fff;

        &:not(:last-child) {
          margin: 0 0 5px;
        }

        &:first-child {
          width: 19px;
        }
        &:nth-child(2) {
          width: 27px;
        }
        &:last-child {
          width: 13px;
        }
      }
    }
  }

  // .header__container

  &__container {
  }

  // .header__body

  &__body {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 0;
    min-height: 108px;
    transition: min-height 0.3s ease 0s;

    @media (max-width: $md2) {
      min-height: 80px;
    }

    @media (max-width: $md3) {
      min-height: 60px;
    }
  }

  // .header__logo

  &__logo {
    padding: 0 48px;
  }

  // .header__search

  &__search {
    flex: 0 1 math.div(600px, 1176px) * 100%;
  }

  // .header__menu

  &__menu {
    display: none;
  }
}

.search-header {
  display: flex;
  align-items: center;
  padding: 0 14px;
  min-height: 50px;
  background-color: rgba(242, 242, 242, 0.48);

  // .search-header__select

  &__select {
  }

  // .search-header__line

  &__line {
    border: 1px solid rgba(35, 47, 62, 0.16);
    width: 28px;
    transform: rotate(90deg);
  }

  // .search-header__form

  &__form {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-between;
  }

  // .search-header__input

  &__input {
    flex: 1 1 auto;
    padding: 0 15px 0 0;
    font-size: 14px;
    line-height: math.div(16px, 14px) * 100%;
    background-color: transparent;

    &::placeholder {
      color: rgba($color: #232f3e, $alpha: 0.16);
    }
  }

  // .search-header__btn

  &__btn {
  }

  // .search-header__actions

  &__actions {
  }
}

.select-header {
  display: flex;
  align-items: center;
  padding: 17px 0;

  // .select-header__type

  &__type {
    margin: 0 12px 0 0;
    font-size: 12px;
    line-height: math.div(14px, 12px) * 100%;
    color: #000;
  }

  // .select-header__arrow

  &__arrow {
  }

  // .select-header__list

  &__list {
    display: none;
  }

  // .select-header__item

  &__item {
  }

  // .select-header__item-type

  &__item-type {
  }
}

.actions-header {
  // .actions-header__liked

  &__liked {
  }

  // .actions-header__liked-btn

  &__liked-btn {
  }

  // .actions-header__liked-list

  &__liked-list {
  }

  // .actions-header__bag

  &__bag {
  }

  // .actions-header__bag-btn

  &__bag-btn {
  }

  // .actions-header__list

  &__list {
  }

  // .actions-header__line

  &__line {
  }

  // .actions-header__map

  &__map {
  }

  // .actions-header__login

  &__login {
  }
}

.menu {
  // .menu__body

  &__body {
  }

  // .menu__list

  &__list {
  }

  // .menu__item

  &__item {
  }

  // .menu__link

  &__link {
  }
}
