.page {
  // .page__main-slider

  &__main-slider {
  }
}
.main-slider {
  padding: 108px 0 56px;

  @media (max-width: $md2) {
    padding: 80px 0 60px;
  }

  @media (max-width: $md2) {
    padding: 50px 0 40px;
  }
  // .main-slider__container

  &__container {
  }

  // .main-slider__additional

  &__additional {
    @media (min-width: $md2) {
      position: relative;
      padding: 0 24px;
    }
  }

  // .main-slider__body

  &__body {
  }

  // .main-slider__wrapper

  &__wrapper {
  }

  // .main-slider__slide

  &__slide {
  }

  // .main-slider__controls

  &__controls {
    display: none;

    @media (min-width: $md2) {
      position: absolute;
      left: 0;
      top: 50%;
      z-index: 2;
      display: flex;
      justify-content: space-between;
      width: 100%;
      transform: translate(0, -50%);
      pointer-events: none;
    }
  }

  // .main-slider__button

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 48px;
    height: 48px;
    box-shadow: 0 6px 24px rgba(35, 47, 62, 0.08);
    background-color: #fff;
    pointer-events: auto;

    // .main-slider__button_prev

    &_prev {
      transform: rotate(-180deg);
    }

    // .main-slider__button_next

    &_next {
    }
  }
}

.slide-main {
  display: flex;
  align-items: center;
  padding: 12px 83px 21px 56px;
  background-color: rgba(242, 242, 242, 0.4);

  @media (min-width: $md2) {
    justify-content: space-between;
  }

  @media (max-width: $md2) {
    flex-direction: column;
  }

  @media (max-width: $md3) {
    padding: 12px 20px;
  }

  // .slide-main__description

  &__description {
    display: flex;
    flex-direction: column;
    & > * {
      &:not(:last-child) {
        margin: 0 0 16px;
      }
    }

    @media (min-width: $md2) {
      flex: 0 1 444px;
    }
  }

  // .slide-main__label

  &__label {
    font-weight: 500;
    font-size: 14px;
    line-height: math.div(16px, 14px) * 100%;
    color: #f90;
  }

  // .slide-main__title

  &__title {
    font-weight: 600;
    font-size: 48px;
    line-height: math.div(58px, 48px) * 100%;
    color: #000;

    @media (max-width: $md3) {
      font-size: 36px;
    }

    @media (max-width: $md4) {
      font-size: 24px;
    }
  }

  // .slide-main__text

  &__text {
    font-size: 12px;
    line-height: math.div(20px, 12px) * 100%;
    color: rgba(35, 47, 62, 0.48);
  }

  // .slide-main__buttons

  &__buttons {
    @media (min-width: $md4) {
      display: flex;
    }
  }

  // .slide-main__button

  &__button {
    width: 100%;

    &:not(:last-child) {
      margin: 0 0 15px;
    }
    @media (min-width: $md4) {
      flex: 0 1 125px;
      &:not(:last-child) {
        margin: 0 12px 0 0;
      }
    }
  }

  // .slide-main__image

  &__image {
    position: relative;
    mix-blend-mode: multiply;

    img {
      max-width: 100%;
    }

    @media (min-width: $md2) {
      flex: 0 1 417px;

      &::before,
      &::after {
        content: '';
        position: absolute;
        border-radius: 50%;
        width: 26.38%;
        height: 26.38%;
        mix-blend-mode: multiply;
      }

      &::before {
        left: 6.24%;
        top: 11.27%;
        z-index: 2;
        background-color: #146eb4;
        mix-blend-mode: multiply;
      }

      &::after {
        right: 2.64%;
        bottom: 2.4%;
        background-color: #f90;
        mix-blend-mode: multiply;
      }
    }

    @media (max-width: $md2) {
      order: -1;
      margin-bottom: 50px;
    }
  }
}
