body {
  color: $mainColor;
  background-color: #fff;

  &._lock {
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
}

.page {
  flex: 1 1 auto;
}

._container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: $maxWidthContainer;
}

// Responsive images

._ibg {
  position: relative;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.message {
  &-error {
    position: absolute;
    left: 0;
    top: 110%;
    font-size: 12px;
    color: rgb(250, 2, 2);
  }
}

._blue-btn,
._border-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #146eb4;
  padding: 0 5px;
  min-height: 32px;
  font-weight: 500;
  font-size: 12px;
  line-height: math.div(14px, 12px) * 100%;
  text-align: center;
}

._blue-btn {
  color: #fff;
  background-color: #146eb4;
  transition: all 0.5s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      background-color: #06538f;
    }
  }
}

._border-btn {
  color: #146eb4;
  background-color: #fff;
  transition: all 0.5s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      color: #fff;
      background-color: #146eb4;
    }
  }
}

input[placeholder] {
  text-overflow: ellipsis;
  opacity: 1;
  transition: opacity 0.3s ease;

  &:focus-visible {
    opacity: 0;
  }
}

// Fixing height of slides in swiper
.swiper-slide {
  height: auto;
}

.top-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.top-block__title {
  font-size: 24px;
  line-height: math.div(28px, 24px) * 100%;
  color: #000;
}

.top-block__button {
  font-weight: 500;
  font-size: 16px;
  line-height: math.div(19px, 16px) * 100%;
  color: #146eb4;
  transition: all 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      text-decoration: underline;
      color: #06538f;
    }
  }
}

// .to {
//   &-top {
//     position: fixed;
//     bottom: 25px;
//     right: 25px;
//     padding: 18px;
//     box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08);
//     border-radius: 4px;
//     border: 1px solid #eeeeee;
//     background-color: #ffffff;
//   }
// }

// Slider arrows

// .slider-arrows {
//   display: grid;
//   grid-template-columns: repeat(2, 48px);
//   column-gap: 8px;
// }
// .slider-arrow {
//   // .slider-arrow_prev
//   pointer-events: auto;
//   border-radius: 50%;
//   height: 48px;
//   background-color: rgba(232, 159, 113, 0.3);
//   color: $orangeColor;
//   font-size: 12px;
//   cursor: pointer;
//   transition: all 0.2s ease 0s;
//   @media (any-hover: hover) {
//     &:hover {
//       color: #fff;
//       background-color: rgba(232, 159, 113, 1);
//     }
//   }
//   &_prev {
//     &::before {
//       transform: rotate(90deg);
//     }
//   }

//   // .slider-arrow_next

//   &_next {
//     &::before {
//       transform: rotate(-90deg);
//     }
//   }

//   &_white {
//     background-color: #ffffff;
//     box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
//     color: $orangeColor;
//     @media (any-hover: hover) {
//       &:hover {
//         color: #fff;
//         background-color: $orangeColor;
//       }
//     }
//   }
// }

// Slider paggination

// .swiper-pagination-bullets {
//   display: flex;
//   flex-wrap: wrap;
// }

// .swiper-pagination-bullet {
//   cursor: pointer;
//   flex: 0 0 27px;
//   height: 27px;
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin: 2px 0;
//   background-color: transparent;
//   &:not(:last-child) {
//     margin-right: 12px;
//   }
//   &::after {
//     content: '';
//     width: 11px;
//     height: 11px;
//     background-color: #6d6a6a;
//     border-radius: 50%;
//     transition: background-color 0.3s ease 0s;
//   }
//   &::before {
//     content: '';
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     border-radius: 50%;
//     border: 1px solid $orangeColor;
//     transition: transform 0.3s ease 0s;
//     transform: scale(0);
//   }
// }
// .swiper-pagination-bullet-active {
//   &::after {
//     background-color: $orangeColor;
//   }
//   &::before {
//     transform: scale(1);
//   }
// }
